{% extends 'layout/main.twig' %}

{% block main %}
  <div class="container">
    <div class="row snap-child">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="blog-post-thumbnail">
          {{ fn.get_the_post_thumbnail(post.ID, 'reference_thumbnail', {'class': 'img-full'})|raw }}
          <div class="blog-post-title">
            <h2>{{ post.post_title }}</h2>

            <div class="mt-1">
              <time class="text-muted" datetime="{{ post.post_date|date("Y-m-d") }}">
                {{ post.post_date|date("d.m.Y") }}
              </time>
              <span class="text-muted">|</span>
              <span class="text-muted">{{ fn.get_the_author_meta('display_name', post.post_author) }}</span>
            </div>
          </div>
        </div>
        <div class="post-content snap-child">
          {{ post.post_content|raw }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
